#root {
  padding: 10px;
  position: fixed;
  width: 100%;
  height: 100%;
}

#root .container {
  height: 100%;
}

#root .container .row:first-of-type {
  height: 95%;
}

#score {
  font-size: 2em;
}

#score_history {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
}

#score_history table:first-of-type {
  margin-bottom: 0;
}

#score_history_wrapper {
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  max-height: 70%;
  width: 100%;
}

.jumbotron {
  margin-top: 20%;
}

#score_display {
  margin-bottom: 30px;
}

#clear_spacer {
  width: 40px;
  display: inline-block;
}

.footer {
  text-align: center;
  font-size: 0.75em;
}

.discreet-link {
  color: #1b1e21;
}
